.cust-title-beer {
    font-size: 45px;
    font-weight: bold;
}

span {
    font-weight: 700;
}

.alc-cust {
    font-size: 35px;
}

.pourcent, .alc-cust {
    font-weight: bold;
}

.name-brewery {
    color: rgb(45, 43, 43);
}

.name-brewery:hover {
    color: rgb(200, 132, 4);
}

.mb-cust {
    margin: 30px 0 50px 0;
}

.info-beer-mob {
    padding-left: 35px;
}

@media screen and (max-width: 992px) {
    .info-beer-mob {
        padding: 0px !important;
    }

    .space-mob {
        margin-top: 25px;
        flex-direction: column;
    }

    .m-title-mob {
        margin-top: 20px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

