p {
    padding: 0;
    margin-bottom: 0px;
}

.btn-one {
    background-color: rgb(254, 143, 58);
}

.btn-one:hover {
    background-color: rgb(237, 177, 132); 
}

.bg-color-cust {
    background-color: rgba(254, 143, 58, 0.382);
}

.return-list {
    text-decoration: none;
    color:rgb(45, 43, 43);
}

.return-list:hover {
    color: rgb(155, 101, 0);
}

.btn-two {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 12px 22px;
    border-radius: 15px;
    font-size: 20px;
}

.btn-two:hover {
    background-color: rgba(207, 90, 1, 0.575); 
    color:white;
}

.btn-three {
    background-color: rgb(15, 15, 15); 
    color:white;
    padding: 7px 22px;
    border-radius: 8px;
    font-size: 15px;
}

.btn-three:hover {
    border: 1px solid rgb(15, 15, 15);
    background-color: transparent;
}

.btn-login {
    background-color: rgb(15, 15, 15); 
    color:white;
    padding: 8px 22px;
    border-radius: 10px;
    font-size: 17px;
}

.btn-login:hover {
    border: 1px solid rgb(15, 15, 15);
    background-color: transparent;
    color:rgb(15, 15, 15);
}